[info]
logo              = https://ucjeps.cspace.berkeley.edu/collectionspace/ui/ucjeps/images/header-logo.png

[databasing]
# however, the REST updates are made using the users credentials for the server configured
# in main.cfg
SKELETALFIELDS      = [
                    ["Accession Number", "slide"],
                    ["Upload as 'born-digital' media (i.e. use 'DP' auto sequencing, use EXIF data for dates, etc.)", "borndigital"],
                    ["Create media record only (do not link to accessions)", "mediaonly"],
                    ["Create media record and link to accession (image filename must contain accession number)", "media+accession"]
                    ]
MAXRESULTS          = 1000
TITLE               = Basic Databasing
NUMBERFIELD         = accessionnumber_s
CSIDFIELD           = csid_s
