# this is the config file for the batch component of the BMU
# the online portion (i.e. the webapp) is a Django webapp and is configured in uploadmedia.cfg
[info]
logo              = http://bampfa.cspace.berkeley.edu/collectionspace/ui/bampfa/images/header-logo.png
schemacolor1      = #660000
# set the serverlabel value to indicate this .cfig file does NOT configure a webapp
serverlabel       = notawebapp
serverlabelcolor  = red
institution       = bampfa
apptitle          = Bulk Upload Media Batch Component
updatetype        = bmu
updateactionlabel =

# set the following to True to allow Media records to be created even if the corresponding objects are not found
alwayscreatemedia = False

[connect]
connect_string    = host=dba-postgres-prod-45.ist.berkeley.edu port=5313 dbname=bampfa_domain_bampfa user=reporter_bampfa sslmode=require

realm             = org.collectionspace.services
hostname          = bampfa.cspace.berkeley.edu
protocol          = https
port              =
username          = bmu@bampfa.cspace.berkeley.edu
password          = xxxxx

[files]
directory         = /var/cspace/bampfa/bmu
