{% extends "cspace_django_site/base_site.html" %}
{% load i18n static %}
{% load staticfiles %}

{% block extrascript %}
<script type="text/javascript" src="{% static "taxoneditor/js/taxoneditor.js" %}"></script>
{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'cspace_django_site/css/jquery-ui-1.8.22.custom.css' %}"/>
{% endblock %}

{% block content %}
    {% include "toggled.html" %}
    {% if error %}
        <p style="color: red;">Please submit a search term.</p>
    {% endif %}

    <div id="waitingImage" style="display: none">
        <h1><img style="vertical-align: middle"
                 src="{% static "cspace_django_site/images/timer-animated.gif" %}"
                 alt="Searching..."/> Working...</h1>
    </div>

    <form class="search-form" method="post">
        <span style="vertical-align: top">Enter scientific name(s) to search for:</span>
        <textarea  rows="10" cols="50" style="width: 400px" name="determinations">{{ taxa }}</textarea>

        {% for field in form.hidden_fields %}
            <div style="display:none;">{{ field }}</div>
        {% endfor %}

        {% csrf_token %}

        <hr/>
        <button class="prettyBtn" type="submit" name="search-list" value="Search" id="search-list">Search</button>
        {% for s in sources %}
            <input type="checkbox" name="source" value="{{ s }}" {% if s in checked_sources %}checked{% endif %}>{{ s }}
        {% endfor %}

    </form>

    <div id="content-main">
        {% if multipleresults|length > 0 %}
            {% include "taxon_serviceResults.html" %}
        {% endif %}
    </div>

{% endblock %}
