{% if error %}
    <p style="color: red;">{{ error }}</p>
{% endif %}
<form method="POST">
    {% csrf_token %}
    <table>
        <tr>
            <td><input type="text" name="accession_number" value="{{ accession_number }}"></td>
            <td><input class="prettyBtn" type="submit" name="search" value="Search"></td>
        </tr>
    </table>
    {% if transactions %}
        <table cellspace="1">
            <thead>
            <tr>
                <th>Accession number</th>
                <th>Image filename</th>
                <th>Status</th>
                <th>Job</th>
                <th>Date</th>
                <th>Details</th>
            </tr>
            </thead>
            <tbody>
            {% for t in transactions %}
                <tr>
                    <td>{{ t.accession_number_s }}</td>
                    <td>{{ t.image_filename_s }}</td>
                    <td>{{ t.status_s }}</td>
                    <td>{{ t.job_s }}</td>
                    <td>{{ t.transaction_date_s }}</td>
                    <td>{{ t.transaction_detail_s }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% for field in form.hidden_fields %}
        <div style="display:none;">{{ field }}</div>
    {% endfor %}
</form>
