<hr/>

<!-- h1>Queue Summary</h1>
<table style="border: 1px solid;">
    {% for k,v in stats.items %}
    <tr>
       <td>{{ k }}</td><td>{{ v }}</td>
    </tr>
    {% endfor %}
</table -->
<h2>Job Queue</h2>
<h4>{{ jobcount }} job{{ jobcount|pluralize }} in the queue</h4>
{% if jobcount > jobs|length %}
    Only the most recent {{ jobs|length }} jobs displayed.
{% endif %}
{% if True %}
    <div style="float:right">
<form action="{% url 'merritt_archive' %}" method="POST">
    {% csrf_token %}
    <!-- input class="prettyBtn" type="submit" name="queuejobs" value="Queue All Jobs" -->
</form>
    </div>
{% endif %}
<table cellspace="1" id="resultsListing" class="tablesorter">
    <thead>
    <tr>
        <th>Job Number</th>
        <th>Job Status</th>
        {% for s in statuses %}
            <th>{{ s }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for jobinfo in jobs %}
        <tr>
            <td>{{ jobinfo.0 }}</td>
            <td>
                {% if jobinfo.1 == 'ready' %}
                    <span style="color: orange;">{{ jobinfo.1 }}</span>
                {% elif jobinfo.1 == 'done' %}
                    <span style="color: green;">{{ jobinfo.1 }}</span>
                {% else %}
                    <span style="color: blue;">{{ jobinfo.1 }}</span>
                {% endif %}
            </td>
            {% for s in statuses %}
                <td>
                    {% for key, value in jobinfo.2.items %}
                        {% if s == key %}
                            <a href="?filename={{ value.0 }}&status=ready">{{ value.1 }}</a>
                        {% endif %}
                    {% endfor %}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
