<hr/>

<h1>Queue Summary</h1>
<!-- h3>{{ jobcount }} job{{ jobcount|pluralize }} in the queue</h3 -->
<style>
th, td {
  border: 1px solid black;
}
</style>
<table style="border: 1px solid;">
    {% for k,v in stats.items %}
    <tr>
       <td>{{ k }}</td><td>{{ v }}</td>
    </tr>
    {% endfor %}
</table>
<h1>Job Queue</h1>
{% if jobcount > jobs|length %}
    Only the most recent {{ jobs|length }} jobs displayed.
{% endif %}
{% if True %}
    <div style="float:right">
<form action="{% url 'merritt_archive' %}" method="POST">
    {% csrf_token %}
    <input class="prettyBtn" type="submit" name="queuejobs" value="Queue All Jobs">
</form>
    </div>
{% endif %}
<table cellspace="1" id="resultsListing" class="tablesorter">
    <thead>
    <tr>
        <th>Job Number</th>
        <th>Job Status</th>
        {% for s in statuses %}
            <th>{{ s }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for jobinfo in jobs %}
        <tr>
            <td><a href="?filename={{ jobinfo.0 }}.new.csv&status=new">{{ jobinfo.0 }}</a></td>
            <td>
                {% if jobinfo.1 == 'ready' %}
                    <span style="color: orange;">{{ jobinfo.1 }}</span>
                {% elif jobinfo.1 == 'done' %}
                    <span style="color: green;">{{ jobinfo.1 }}</span>
                {% else %}
                    <span style="color: blue;">{{ jobinfo.1 }}</span>
                {% endif %}
            </td>
            {% for s in statuses %}
                <td>
                    {% for key, value in jobinfo.2.items %}
                        {% if s == key %}
                            {{ value.1 }}
                        {% endif %}
                    {% endfor %}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
