#!/usr/bin/env bash

# credentials, etc. required to make the ucjeps merritt archiving pipeline work

# used to retrieve CR2s and TIFs from the UCJEPS Snowcone s3 bucket
export UCJEPS_BUCKET=s3://ucjeps-snowcone1

# used to submit "batches" of "jobs" to merritt ingest
export COLLECTION_USERNAME="<getfrommerritt>"
export COLLECTION_PASSWORD="<getfrommerritt>"

export S3BUCKET="https://cspace-merritt-in-transit-qa.s3.us-west-2.amazonaws.com"
export S3URI="s3://cspace-merritt-in-transit-qa"
export SUBMITTER="jblowe"
export MERRITT_INGEST="https://merritt.cdlib.org/object/update"
export PROFILE="ucjeps_img_archive_content"

# s3 'website bucket'
WEBSITE_BUCKET="s3://ucjeps-archiving-thumbnails/qa"

# the jobs files used by the pipeline go here (many small files)
export JOB_DIRECTORY="/cspace/merritt/jobs"

# if solr is running on the same server and current, use localhost
export SOLR_SERVER="http://localhost:8983"
# otherwise, if the proxy is in place, use the remote solr server
#export SOLR_SERVER="https://webapps.cspace.berkeley.edu"

# os-specific command to format output of 'time'
export TIME_COMMAND="/usr/bin/time -f TIME,%E,%U,%S,%C"

# notify
NOTIFY=jblowe@berkeley.edu,jason_alexander@berkeley.edu
