{% extends "cspace_django_site/base_site.html" %}
{% load i18n admin_static %}
{% load staticfiles %}

{% block content %}
    {% include "toggled.html" %}
    <div id="tabs">
        <ul>
            <li><a href="#guess">Guessing Game</a></li>
            <li><a href="#facets">Facet Game</a></li>
            <li><a href="#maps">Map Game</a></li>
        </ul>
        <div id="guess">
            {% include "multiplechoice.html" %}
        </div>
        <div id="facets">
            {% include "facetgame.html" %}
        </div>
        <div id="maps">
        </div>
    </div>
{% endblock %}
